body {
    margin: 0;
    background-color: #3D2B1F;
    color: #D9D2C3;
    font-family: 'Cinzel', serif;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #151515;
    color: #D9D2C3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 10;
}

.nav-links a {
    color: #D9D2C3;
    margin: 0 10px;
    text-decoration: none;
}

.searchbar {
    border: none;
    min-width: 400px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.content {
    margin-top: 80px;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #151515;
    color: #D9D2C3;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
}

.hidden {
    display: none;
}